{% assign url_parts = page.url | split: '/' %}
{% assign url_parts_size = url_parts | size %}
{% assign rm = url_parts | last %}
{% assign base_url = page.url | replace: rm %}

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">JDemetra+</a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
	<!--<ul class="navbar-nav mr-auto">		  
	  {% for node in site.pages %}
        {% assign node_url_parts = node.url | split: '/' %}
        {% assign node_url_parts_size = node_url_parts | size %}
        {% assign filename = node_url_parts | last %}
        {% if filename == 'index.html' %}
          <li {% if p.url == page.url %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
			<a class="nav-link" href="{{ node.url }}">{{ node.title }}</a>
		  </li>
        {% endif %}
    {% endfor %}
	</ul>-->
	
	<ul class="navbar-nav mr-auto">		 
		  <li {% if p.url == page.url %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
			<a class="nav-link" href="{{ node.url }}">{{ node.title }}</a>
		  </li>	
		  {% assign pages = site.pages | sort: 'navigation_weight' %}
		  {% for page in pages %}
		  {% if page.navigation_weight %}
			<li {% if p.url == page.url %} class="nav-item active" {% else %} class="nav-item" {% endif %}>
				<a class="nav-link" href="{{ page.url }}">{{ page.title }}</a>
			</li>
		  {% endif %}
    {% endfor %}
	</ul>
  </div>
</nav>